
{% include 'header2.html' %}

<br/>


<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Reto 1</th>
            <th>Reto 2</th>
            <th>Reto 3</th>
            <th>Reto 4</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <video controls>
                    <source src="Miscelanea\Billie.mp4" type="video/mp4">
                </video>
            </td>

            <td>
                <video controls>
                    <source src="Miscelanea\Billie.mp4" type="video/mp4">
                </video>
            </td>
            
            <td>
                <video controls>
                    <source src="Miscelanea\Billie.mp4" type="video/mp4">
                </video>
            </td>
            <td>
                <video controls>
                    <source src="Miscelanea\Billie.mp4" type="video/mp4">
                </video>
            </td>
        </tr>
        
    </tbody> 
</table>


{% include 'footer.html' %}